<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> errores no permitieron grabar este artículo:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class='row'>
    <div class="input-field col s6">
      <%= form.label :title %><br>
      <%= form.text_field :title, class:'input-field col s6' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= form.label :text %><br>
      <%= form.text_area :text, class:'materialize-textarea' %>
    </div>
 </div>
 <div class="row">
    <div class="input-field col s6">
      <!--<%= form.submit class: 'btn waves-effect waves-light' %>-->
      <%= button_tag(type: "submit", class: 'btn waves-effect waves-light') do %>
        <span><i class="material-icons right">send</i>Crear</span>
      <% end %> 
    </div>
  </div>

<% end %>