<h2>Mostando datos del artículo de Id: <%= @article.id %></h2>

<div class="row">
  <div class="col 12 s12 m6">
    <div class="card  pink">
      <div class="card-content white-text">
        <span class="card-title">Titulo: <%= @article.title %></span>
        <p>
          <strong>Text:</strong>
          <%= @article.text %>
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Comments</h3>
<br>
<div class="row">
  <div class="col s6">
    <ul class="collection">
      <%= render @article.comments %>
    </ul>
  </div>
</div>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>